<% if model.errors.any? %>
<div class="error-alert">
  <ul>
    <% model.errors.full_messages.each do |message| %>
    <li class='error-message '><p class="h5 mt-3 text-danger"><%= message %></p></li>
    <% end %>
  </ul>
</div>
<% end %>